
<!DOCTYPE html>
<html lang="es">

<body>
    <div class="header">
        <img src="C:\Users\vrr20\OneDrive\Escritorio\ISST\ISST-21-Mascotmercio\mascotmercio21\src\main\resources\static\fotos\logo_mascotmercio.png" alt="Logo de Mascotmercio" class="logo">
    </div>
    <div class="side-photo1">
        <img src=" C:\Users\vrr20\OneDrive\Escritorio\ISST\ISST-21-Mascotmercio\mascotmercio21\src\main\resources\static\fotos\mascota.png" alt="Cliente con mascota">
        <p>Texto a la izquierda</p>
    </div>
    <div class="container">
        <div class="side-content">
            <h1>Login</h1>
                <form action="login.php" method="post">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="green-button">Iniciar Sesión</button>
            </form>
            <p>¿No recuerdas tu contraseña? 
            <a href="registro.php"> Recordar contraseña</a></p>
            <button type="registrarCliente" class="registro">Registrarse como Cliente</button>
            <button type="registrarPropietario" class="registro">Registrarse como Propietario</button>
        </div>
    </div>
    <div class="side-photo2">
        <img src="C:\Users\usuario\Downloads\mascotmercio2024\imagenes\propietario.jpg" alt="Propietario con mascota">
        <p>Texto a la derecha</p>
    </div>
</body>
</html>
